div.preview {
  margin: 0 auto;
}

div.visible-media-wrapper {
  height: 50vh;
}

  div.visible-media-wrapper > * {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  div.visible-media-wrapper > img {
      display: block;
  }

  div.visible-media-wrapper > video {
  }

div.audio-wrapper {
}

  div.audio-wrapper > audio {
    width: 100%;
  }

