<div class="card">
  <div class="card-header">
    <a [href]="fileUrl" target="blank">{{file.name}}</a>
  </div>
  <div class="card-body">
    <div class="preview" *ngIf="preview" [ngSwitch]="mediaType">
      <div class="visible-media-wrapper" *ngSwitchCase="multimediaType.Video">
        <video controls preload="none">
          <source [src]="previewUrl">
          Your browser does not support the video element.
        </video>
      </div>
      <div class="visible-media-wrapper" *ngSwitchCase="multimediaType.Image">
        <img [src]="previewUrl" loading="lazy" />
      </div>
      <div class="audio-wrapper" *ngSwitchCase="multimediaType.Audio">
        <audio controls preload="none">
          <source [src]="previewUrl">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Link: </li>
      <li class="list-group-item">Size: {{file.size}}</li>
      <li class="list-group-item">ContentType: {{file.contentType}}</li>
    </ul>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last Updated: {{file.date}}</small>
  </div>
</div>
