div.search {
  display: inline-block;
  margin: 10px;
}

div.search {
  display: inline-block;
  margin: 10px;
}

div.search-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

div.dynamic-table-container {
  display: flex;
  flex-flow: wrap;
}

button.go-top-button {
    position: fixed;
    bottom: 20px;
    right:30px;
    z-index: 3;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
